*
!.config/Code\ -\ OSS'/User
!.config/alacritty
!.config/sowm
!.mozilla/firefox/648kq2i2.default-release-1611771529428/chrome
!.mozilla/firefox/648kq2i2.default-release-1611771529428/user.js
!.bash*
!.eslintrc
!.xinitrc
