#pageActionButton,
#back-button,
#forward-button,
#page-action-buttons,
.tab-close-button,
.closing-tabs-spacer,
#tracking-protection-icon-container,
#identity-box.verifiedDomain {
  display: none !important;
}

.tab-line,
.tab-background[selected='true'],
toolbar#TabsToolbar,
#nav-bar {
  background-color: #ffffff !important;
  background-image: none !important;
}

.tab-line {
  border: none !important;
}

#PanelUI-button,
#urlbar-container,
#urlbar-background,
#urlbar[breakout][breakout-extend] {
  border: none !important;
  margin-inline: 0 !important;
  border-inline: 0 !important;
  padding-inline: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#PanelUI-button {
  margin-left: 2px !important;
  -moz-box-ordinal-group: 0 !important;
}

#urlbar[breakout][breakout-extend] {
  outline: 1px solid grey !important;
}
